@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Cutive+Mono&family=Share+Tech+Mono&family=VT323&display=swap');
#foto {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
#h1-apresentacao{
    text-align: center;
    margin-top: 20px;
    font-family:'VT323', monospace; 
    font-size: 450%;
}
#h3-apresentacao{
    margin-top: 20px;
    text-align: center;
    font-family: 'Courier Prime', monospace;
    font-size: 200%;
}
#h3-h3-apresentacao{
    margin-top: 10px;
    font-family: 'Courier Prime', monospace;
    font-size: 150%;
    text-align: center;
}
nav{
    background-color: black;
    margin-top: 30px;
}
#menu{
    color: aliceblue;
    font-family: 'Cutive Mono', monospace;
}
#pacman{
    margin-top: 90px;
    margin-left: 150px;
}
#formacao{
    font-family: 'Courier Prime', monospace;
    margin-top: 100px;
    margin-left: 10px;
    
}
#experiencia{
    font-family: 'Courier Prime', monospace;
    text-align: left;
    margin-top: 100px;
}
#habilidades{
    font-family: 'Courier Prime', monospace;
    margin-top: 100px;
}
#contatos{
    font-family: 'Courier Prime', monospace;
    margin-top: 100px;
}
.texto{
    font-family: 'Cutive Mono', monospace;
    margin-left: 200px;
    margin-top: 40px;
    margin-right: 200px;
}

input{
    background-color:black;
    color: aliceblue;
    border-radius: 5px;
    text-align: center; 
}
.bot{
    margin-top: 20px;
    text-align: center; 
    font-family: 'Cutive Mono', monospace;
}
.bio{
    margin-top: 20px;
    text-align: center; 
    font-family: 'Cutive Mono', monospace;
}